.content
  %h1
    %a{:href => '/'}= t.what_make_you
  %h2.title= t.profile_service_for_maker
  %p ああああああああああああああああああああああああああ
  %p ああああああああああああああああああああああああああ
  %p ああああああああああああああああああああああああああ
%form{:action => '/profile', :method => 'post', :id => 'profile_form'}
  - unless @profile.errors.empty?
    #errorExplanation.errorExplanation
      %h2= t.error
      %ul
        - @profile.errors.each do |error|
          %li= error
  .section
    %label{:for => 'profile_photo_url'}= t.profile.photo_url
    %input{:type => 'text', :class => 'text', :id => 'profile_photo_url', :name => 'profile[photo_url]', :value => @profile.photo_url}
  .section
    %label{:for => 'profile_name'}= t.profile.name
    %input{:type => 'text', :class => 'text', :id => 'profile_name', :name => 'profile[name]', :value => @profile.name}
  .section
    %label{:for => 'profile_description'}= t.profile.description
    %input{:type => 'text', :class => 'text', :id => 'profile_description', :name => 'profile[description]', :value => @profile.description}
  .section
    %label{:for => 'profile_who_are_you_ja'}= t.profile.who_are_you_ja
    %textarea{:id => 'profile_who_are_you_ja', :name => 'profile[who_are_you_ja]', :rows => 10, :cols => 50}= @profile.who_are_you_ja
  .section
    %label{:for => 'profile_what_did_you_make_ja'}= t.profile.what_did_you_make_ja
    %textarea{:id => 'profile_what_did_you_make_ja', :name => 'profile[what_did_you_make_ja]', :rows => 10, :cols => 50}= @profile.what_did_you_make_ja
  .section
    %label{:for => 'profile_why_did_you_make_ja'}= t.profile.why_did_you_make_ja
    %textarea{:id => 'profile_why_did_you_make_ja', :name => 'profile[why_did_you_make_ja]', :rows => 10, :cols => 50}= @profile.why_did_you_make_ja
  .section
    %label{:for => 'profile_what_do_you_make_next_ja'}= t.profile.what_do_you_make_next_ja
    %textarea{:id => 'profile_what_do_you_make_next_ja', :name => 'profile[what_do_you_make_next_ja]', :rows => 10, :cols => 50}= @profile.what_do_you_make_next_ja
  .section
    %input{:type => 'submit', :value => t.submit}
