#person
  %p.portrait
    %img{:src => @profile.photo_url}
  %h1.name= @profile.name
  %p.summary= @profile.description
#questions
  .question
    %h2.title= t.who_are_you
    = @profile.who_are_you
  .question
    %h2.title= t.what_did_you_make
    = @profile.what_did_you_make
  .question
    %h2.title= t.why_did_you_make
    = @profile.why_did_you_make
  .question
    %h2.title= t.what_do_you_make_next
    = @profile.what_do_you_make_next
  .footer
    %h2
      %img{:src => @profile.icon_url}
    %ul
      %li.twitter
        %a{:href => "http://twitter.com/#{@profile.twitter}"}
      - unless @profile.homepage_url.blank?
        %li.website
          %a{:href => @profile.homepage_url}
      %li.makesthis
        %a{:href => "#{root_url}"} MAKES THIS
      %li.print
        %a{:href => "javascript:window.print();"} ネームカードを作る
      %li.print_description
        %a{:href => "#{root_url}#namecard"} ?
      %li.tweet_button
        %a(href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="komagata") Tweet
        %script(type="text/javascript" src="http://platform.twitter.com/widgets.js")/
#information_print
  .icon
    %h4
      %img{:src => @profile.icon_url}
  .mention== @#{@profile.twitter} 
  .text= truncate(strip_tags(@profile.who_are_you), :length => 140)
  .qr_code
    %img{:src => "http://chart.apis.google.com/chart?cht=qr&chs=145x145&chl=http%3A%2F%2F#{twitter2domain(@profile.twitter)}.makesthis.com%2F"}
  .makesthis_url== http://#{twitter2domain(@profile.twitter)}.makesthis.com/
