%h1.logo
  %a{:href => "#{root_url}profile/edit"}
    %span.title MAKE THIS
    %span.login= t.register
    %span.description= t.register_by_twitter
%h2.description= t.what_make_you
#container
  #main
    .content
      .header
      .section
        %h3= t.the_profile_service_for_people_who_make_things
        %p= t.what_about_makesthis_1
      .section
        %h3= t.when_is_it_useful
        %p= t.what_about_makesthis_2
      .section#namecard
        %h3= t.name_tag_available
        %p= t.how_to_create_name_tag
      .footer
  #aside
    %script{:src => 'http://widgets.twimg.com/j/2/widget.js'}
    :javascript
      new TWTR.Widget({
        version: 2,
        type: 'search',
        search: '#makesthis',
        interval: 10000,
        title: '#makesthis',
        subject: '#makesthis',
        width: 290,
        height: 600,
        theme: {
          shell: {
            background: '#dbdbdb',
            color: '#4E8DB9'
          },
          tweets: {
            background: '#dbdbdb',
            color: '#444444',
            links: '#1985b5'
          }
        },
        features: {
          scrollbar: true,
          loop: true,
          live: true,
          hashtags: true,
          timestamp: true,
          avatars: true,
          toptweets: true,
          behavior: 'default'
        }
      }).render().start()
