%h1.logo
  %a{:href => "#{root_url}profile/edit"}
    %span.title MAKE THIS
    %span.login= t.register
    %span.description= t.register_by_twitter
%h2.description= t.what_make_you
%p.about
  %a{:href => "#{root_url}about"}= t.about_makesthis
